section{
    width: 50vh;
    height: 50vh;
    margin: auto;
}

.japan{
    border: 1em double rgb(0,0,0);
    background: radial-gradient(red 30%,white 20%);
    margin: auto;
    margin-bottom: 20%;
}

.germany{
    border: 1em solid rgb(255,255,255);
    background: linear-gradient(180deg, black 33.3%, red 33.3%, red 66.6%, yellow 66.6%);
    margin: auto;
    margin-bottom: 20%;
}

.gabon{
    border: 1em solid rgb(0,0,0);
    background: linear-gradient(180deg, green 33.3%, yellow 33.3%, yellow 66.6%, blue 66.6%);
    margin: auto;
    margin-bottom: 20%;
}

.nigeria{
    border: 1em solid rgb(0,0,0);
    background: linear-gradient(180deg, green 33.3%, white 33.3%, white 66.6%, green 66.6%);
    margin: auto;
    margin-bottom: 20%;
}

.france{
    border: 1em solid rgb(0,0,0);
    background: linear-gradient(180deg, blue 33.3%, white 33.3%, white 66.6%, red 66.6%);
    margin: auto;
    margin-bottom: 20%;
}

.gambia{
    border: 1em solid rgb(0,0,0);
    background: linear-gradient(180deg, red 33.3%, white 33.3%, white 38.3%, blue 38.3%, blue 61.6%, white 61.6%, white 66.6% green 66.6%);
    margin: auto;
    margin-bottom: 20%;
}

.belgium{
    border: 1em solid rgb(255,255,255);
    background: linear-gradient(90deg, black 33.3%, yellow 33.3%, yellow 66.6%, red 66.6%);
    margin: auto;
    margin-bottom: 20%;
}

.africa{
    border-top: 10px;
    border-bottom: 10px;
}

.others{
    border-left: 10px;
    border-right: 15px;
}

h2{
    width: fit-content;
    background-color: rgba(0, 255, 255, 0.34);
}