body{
    background-image: url(./media/bg12.gif);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #ff414e;
}

main{
    width: 70%;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

li{
    width: 30%;
    border: 0.5em solid tan;
    border-radius: 2em;
    border-style: double;
    margin-bottom: 25px;
    padding: 2.5rem;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 23%, rgba(253,187,45,1) 50%);
}

li:hover{
    background: aqua;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: black;
}